@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
.lexend{
    font-optical-sizing: auto;
    font-family: "Lexend Deca", "Lexend Deca Fallback"; 
}

.inter{
    font-family: "Inter","Inter Fallback"
}